header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s;
  background: var(--bg);
  border-bottom: 1px solid var(--grayBorderBottom);
  z-index: 250;
  /* transform: translate3d(0, -100%, 0); */
}
.header-content {
  max-width: 1440px;
  display: flex;
  width: 100%;
  margin: auto;
  height: 5rem;
}

header .logo {
  margin-right: 1rem;
  margin-left: 24px;
  display: inline-block;
  height: 22px;
  width: auto;
  display: flex;
  align-items: center;
  height: 100%;
}
header .logo-img {
  display: block;
  width: 107px;
  height: 22px;
}
header .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-direction: row-reverse;
  height: 100%;
  margin: 0;
  width: 100%;
}
header .main-nav {
  width: 100%;
}
header .main-nav-list {
  display: flex;
  height: 100%;
  order: 99;
}
header .phone-show-menu {
  display: none;
}
header .phone-hide {
  display: flex;
}
header .nav-item {
  color: var(--navColor);
  padding: 0 1rem;
  font-size: 1.167rem;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* border: 2px solid var(--navBorder); */
}
header .route-active {
  color: var(--main);
  font-weight: 500;
}
header .nav-item:hover {
  border-bottom: 2px solid var(--mainHard1);
  color: var(--navHoverColor);
}
header .search-add-ul {
  display: flex;
  justify-content: flex-start;
}

.icon {
  fill: var(--font-3);
}

.search-form {
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  position: relative;
  height: 2.834rem;
  border: 1px solid var(--searchFormBorder);
  transition: width 0.2s;
  width: 226px;
}
.search-input {
  border: none;
  width: calc(100% - 44px);
  padding: 0.6rem 0 0.6rem 1rem;
  box-shadow: none;
  outline: none;
  font-size: 1.1rem;
  color: #8a919f;
  background-color: transparent;
  transition: width 0.3s;
}
.search-form-active {
  width: 360px !important;
}
.search-btn {
  position: relative;
  left: -2px;
  width: 44px;
  height: 30px;
  background: var(--searchBtnBg);
  border-radius: 2px;
}
.search-icon {
  display: inline-block;
  width: 1.33rem;
  padding: 0 0.8333rem 0 0;
  cursor: pointer;
  margin: 7px 15px;
}
.add-group {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 115px;
  height: 3rem;
  transition: width 0.2s;
  overflow: hidden;
}
.add-group-hide {
  width: 0;
  overflow: hidden;
}
.add-btn {
  padding: 0 1rem;
  font-size: 1.167rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  white-space: nowrap;
  height: 100%;
  border-radius: 3px;
  transition: background-color 0.1s linear 0.05s;
  border: none;
  background-color: var(--mainHard1);
  color: var(--btnColor);
}
.add-btn:hover {
  background-color: var(--mainHard2);
}
.search-add-ul li {
  margin-right: 1.5rem;
}
.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: relative;
}
