.icon {
  top: 12px;
  right: 20px;
  border: 1px solid #c9cdd4;
  box-sizing: border-box;
  border-radius: 2px;
  line-height: 18px;
  width: 42px;
  text-align: center;
  color: #c9cdd4;
  font-size: 13px;
}
.entry-list {
  background-color: var(--bg);
}
.entry {
  cursor: pointer;
  position: relative;
  background: var(--bg);
  padding: 12px 20px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid var(--grayBorderBottom);
}
.entry div {
  margin-top: 3px;
}
.meta-container {
  display: flex;
  align-items: center;
  line-height: 22px;
  color: #4e5969;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.meta {
  font-size: 13px;
  padding: 0 8px;
  max-width: 162px;
  color: var(--font-3);
}

.meta:nth-child(n + 2) {
  border-left: 1px solid var(--searchFormBorder);
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-1);
  padding-top: 6px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.info-box {
  display: flex;
  width: 100% !important;
  justify-content: space-between;
  color: var(--font-3);
}
.info {
  flex: 1 1 auto;
  width: calc(100% - 300px);
}
.content-box {
  display: flex;
}
.content {
  font-weight: 400;
  font-size: 13px;
  color: #86909c;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.thumb {
  flex: 0 0 auto;
  width: 120px;
  height: 80px;
  margin-left: 24px;
  background-color: #fff;
  border-radius: 2px;
}
